
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Roboto:wght@100&display=swap');

        body{
            
            font-family: 'Roboto', sans-serif;
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background: rgb(240,239,244);
        }

        .container{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto auto;

            justify-content: center;

        }

        
        .cell{
            height: 60px;
            width: 73px;
            margin: 1px;
            font-family: 'Roboto', sans-serif;
            font-size: 40px;
            font-weight: bold;

            color: white;

            background: rgb(39, 40, 47);
            border: none;

        }
        
        .num{
            width: 98px;
        }
        
        .clean{
            top: 100px;
            height: 60px;
            width: 149px;
        }

        .result{
            display: grid;
            justify-content: center;
            color: white;
            background: rgb(21,25,31);
            background: linear-gradient(180deg, rgba(21,25,31,1) 0%, rgba(29,33,41,1) 100%);
            height: 170px;
            width: 250px;

            margin-top: 15px;
            padding-right: 10px;
            border: none;
            border-radius: 5px;
        }

        .result_text{
            background-color: transparent;
            font-size: 40px;
            height: 190px;
            width: 250px;
            border: none;
            text-align: right;
            color: white;
        }

        .stc{
            height: 600px;
            width: 300px;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            background-color: rgb(29, 33, 41);
        }

        .teclado{
            bottom: 50px;
            
        }

        .operation{
            width: 300px;
        }

        .numeros{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto auto;

            justify-content: center;

        }

        .title{
            margin-top: 5px;
            font-size: 15px;
            color: white;
        }

        button:active{
           transform: scale(0.90);
        }
